<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<!-- jquery and bootstrap js links included at end of file also which allows modal to load-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">	
</head>
<body>

	<div style="margin-top: 30px;margin-left: 30px">
	<h3 ><b>How to use the Face Censor application</b></h3>
	<ul>
		<li><p>Upload an image (Optimized for images of dimensions 600X500).<br>
		After image is loaded, the buttons will be enabled.</p>	
		</li>
		<li><h5><b>Face Censor</b></h5>
		<p>Click the <i>"emoji censor"</i> button to censor the face with an emoji.<br>
		If Multiple faces are detected. You will be provided an option to select the faces to be censored.<br>
		Select the faces by simply clicking on them.</p>
		</li>
		<li><h5><b>Face Censor based on expression</b></h5>
		<p>Censor the faces in the image with different emojis based on their expressions by clicking the <i>"emoji based on expression"</i> button.</p>
		</li>
	</ul>
	Enjoy your emoji images!!
	</div>
	<div style="margin-top: 10px;margin-left: 30px">
	<p>Here are some emoji images we created.</p>
		

	<div class="row">
      <div class="col-sm-4">
	    <ul>
	    	<li><b style="font-size: 17px">Original images</b><br>
			<img src="angry1.jpg" alt="angry image" style=" margin-top: 12px;margin-bottom: 12px; border:1px solid black; width: 250px; height: 250px"/>		
			</li>
	    </ul>
      </div>
      <div class="col-sm-4">
      	<ul>
      		<li><b style="font-size: 17px">Face Censor</b><br>
			<img src="angrywface.PNG" alt="angry with emoji image" style=" margin-top: 12px;margin-bottom: 12px; border:1px solid black; width: 250px; height: 250px"/>
			</li>      		     		
      	</ul>
      </div>
      <div class="col-sm-4">
      	<ul>
      		<li><b style="font-size: 17px">Face Censor based on expression</b><br>
			<img src="angrywexp.PNG" alt="angry with expression image" style=" margin-top: 12px;margin-bottom: 12px; border:1px solid black; width: 250px; height: 250px"/>
			</li>      		     		
      	</ul>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-sm-6">
	    <ul>
	    	<li><b style="font-size: 17px">Original images</b><br>
			<img src="people4.jpg" alt="group image" style=" margin-top: 12px;margin-bottom: 12px; border:1px solid black; width: 600px; height: 400px"/>		
			</li>
	    </ul>
      </div>
      <div class="col-sm-6">
      	<ul>
      		<li><b style="font-size: 17px">Selective Face Censor</b><br>
			<img src="selectivefaces.PNG" alt="group image with emoji image" style=" margin-top: 12px;margin-bottom: 12px; border:1px solid black; width: 600px; height: 400px"/>
			</li>      		     		
      	</ul>
      </div>      
    </div>

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>