<!DOCTYPE html>
<html>
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="imageupload.css"></a>
		<script type="text/javascript" src="imageupload.js"></script>
		<script src="https://stackml.com/library-js/stackml.min.js"></script>	
</head>
<body>

	<div class="container">
		<input type='file' onchange="readURL(this);" />
		<button id="censor">emoji censor</button>
		<button id="expressioncensor">emoji based on expression</button>
		<!--<canvas id="myCanvas" width="500 px" height="600 px" style="border:1px solid #000000; margin-top: 20px">-->
			<img id="pic" src="http://placehold.it/180" alt="your image" />
			<canvas style="margin: 0 auto;" id="canvas"></canvas>
		<!--</canvas>-->

			<img id="angry" src="angry.png" alt="angry emoji" hidden="" />
			<img id="happy" src="happy.png" alt="happy emoji" hidden="" />
			<img id="laugh" src="laugh.png" alt="laugh emoji" hidden="" />
			<img id="sad" src="sad.png" alt="sad emoji" hidden="" />
			<img id="suprise" src="suprise.png" alt="suprise emoji" hidden="" />
			<img id="allother" src="shy.png" alt="shy emoji" hidden="" />
	</div>
</body>
</html>