.header {
    padding: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #ddd;
    background-color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}

/*img{  			
  width:500px;
  height: 600px;  
}*/
input[type=file]{
padding:10px;
background: white;}